.head {
  width: 100%;
  height: 70px;
  border-bottom: white solid 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #163e73;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
}
