.search-container {
  width: 900px;
  margin: auto;
  background-color: #f8f8f8;
  height: 700px;
}

.search-button {
  width: 200px;
  margin-left: 105px;
  margin-top: 0px;
}

.search-checkbox {
  width: auto !important;
}
