.vacancy-card {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  width: calc(50% - 30px);
  padding: 15px 30px;
  border: 1px solid black;

  &__head {
    display: flex;
    position: relative;
  }
  &__left {
    width: 80%;
  }
  &__right {
    position: relative;
    right: -20px;
  }
  &__rating {
    background-color: #192a56;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__rating-numbers {
    font-size: 22px;
    color: white;
  }
  &__rating-info {
    color: white;
    font-size: 13px;
  }

  &__specialization {
    color: #40739e;
    font-size: 18px;
    font-weight: bold;
  }
  &__age {
    margin-top: 10px;
    font-weight: bold;
  }
  &__jobExperience {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    span:first-child {
      color: #797979;
      font-size: 13px;
    }
    span:nth-child(2) {
      margin-top: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
    }
  }
  &__info {
    margin-top: 10px;
    display: flex;
  }
  &__updatedAt {
    padding-right: 4px;
    font-size: 13px;
    color: #797979;
  }
  &__last-visit {
    margin-left: 4px;
    font-size: 13px;
    color: #797979;
  }

  &__actions {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  &__button {
    margin-right: 14px;
    outline: none;
    background-color: #0078fa;
    color: white;
    border: none;
    padding: 8px 24px;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.9;
    }
  }
  &__favorite {
    margin-right: 14px !important;
    cursor: pointer;
    &--active {
      path {
        fill: #ec030f;
      }
    }
  }
  &__salary {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 2px;
  }
}
